<section id="with-container-fluid">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4">
                <div id="jstree">
                </div>
            </div>
            <div class="col-xs-6">
                <div class="bs-example" id="divError" ng-show="compileResult && compileResult.length > 0">
                    <div class="alert alert-danger alert-error" id="divErrorInner">
                        Eroare: {{compileResult}}
                    </div>
                </div>
                <div class="bs-example" id="divSuccess" ng-show="compileResult.length == 0">
                    <div class="alert alert-success" id="divSuccessInner">
                        Modificarea a fost efectuata cu succes.
                    </div>
                </div>
                <textarea id = "decompileText" class="form-control" rows="30"></textarea><br/>
                <button type="button" class="btn btn-primary" ng-click="compile()">Compileaza</button>
                <button type="button" class="btn btn-primary"><a ng-click="showHistory()">Istoric</a></button>
            </div>
            <div class="col-xs-4">
            </div>
        </div>
    </div>
</section>
